<div id="symbolSwitch" class="modal fade symbol-property" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="switch" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Switch Properties</h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#appearance-switch">Appearance</a></li>
                <li><a data-toggle="tab" href="#movement-switch">Movement</a></li>
                <li><a data-toggle="tab" href="#animation-switch">Animation</a></li>
                <li><a data-toggle="tab" href="#access-switch">Access</a></li>
              </ul>
              
              <div class="tab-content">
                <div id="appearance-switch" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-3">
                      <fieldset>
                        <legend>Position</legend>
                        <code>X:</code><input type="number" class="mini" name="pos-x1" value="1" min="0"><br>
                        <code>Y:</code><input type="number" class="mini" name="pos-y1" value="1" min="0"><br>
                      </fieldset>
                    </div>
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Order</legend>
                        <code>Z-index:</code><input type="number" name="z-index" value="1" min="1" max="10">
                      </fieldset>    
                      <fieldset>
                        <legend>Rotation</legend>
                        <code>Degree:</code><input type="number" name="width" value="0" min="-360" max="360">
                      </fieldset>
                    </div>
                    <div class="col-sm-5">
                      <fieldset>
                        <legend>Label</legend>
                            <code>Before:</code><input type="text" name="width" value="OFF"><br>
                            <code>After:&nbsp;</code><input type="text" name="width" value="ON"><br>
                      </fieldset>
                      <fieldset>
                        <legend>Color</legend>
                            <code>When on:&nbsp;</code><button class="btn-color-1 lg"></button><br>
                            <code>When off:</code><button class="btn-color-2 lg"></button>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <legend>Draggable</legend>
                        <input type="checkbox" name="has-draggable-design" class="checkbox-custom" checked><span class="checkbox-custom">Draggable when Design</span><br>
                        <input type="checkbox" name="has-draggable-run" class="checkbox-custom"><span class="checkbox-custom">Draggable when Run</span><br>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="movement-switch" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Movement expression</legend>
                          <textarea style="width: 456px;"></textarea>
                          <button style="float: right;">Browse</button>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label style="padding: 15px; font-weight: bold;">Range:</label>
                      <code>min: </code><input type="number" name="min" value="0">
                      <code style="margin-left: 40px;">max: </code><input type="number" name="max" value="100">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <fieldset>
                        <legend>Offset horizontal</legend>
                        <code>Offset X: </code><input type="number" name="offset-x" value="0">
                      </fieldset>
                    </div>
                    <div class="col-sm-6">
                      <fieldset>
                        <legend>Offset vertical</legend>
                        <code>Offset Y: </code><input type="number" name="offset-y" value="0">
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="animation-switch" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Hidden when</legend>
                          <textarea style="width: 452px;"></textarea>
                          <button style="float: right;">Browse</button>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>Run when change to ON</legend>
                              <textarea style="width: 452px;" name="switch-on"></textarea>
                              <button class="" style="float: right;">Browse</button>
                        </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>Run when change to OFF</legend>
                              <textarea style="width: 452px;" name="switch-off"></textarea>
                              <button class="" style="float: right;">Browse</button>
                        </fieldset>
                    </div>
                  </div>
                </div>
                <div id="access-switch" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Description</legend>
                          <textarea style="width: 536px;"></textarea>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Tooltip</legend>
                          <textarea style="width: 536px;"></textarea>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Security</legend>
                          <input type="checkbox" name="has-privilege" class="checkbox-custom" checked><span class="checkbox-custom">No privilege restrictions</span><br>
                          <code>Privilege level: </code><input type="number" name="privilege-level" min="0" max="8" disabled>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="switch" name="save" class="btn btn-success btn-sm">&nbsp;Apply&nbsp;</button>
          <button type="switch" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
        </div>
      </div>
  
    </div>
  </div>

  <script>
    $("#symbolSwitch").draggable({
      handle: ".modal-header"
    }); 

    // Set event for has-privilege restrictions
    $('#symbolSwitch #access-switch input[name=has-privilege]').click(e => {
      if (e.target.checked){
        $('#symbolSwitch #access-switch input[name=privilege-level]').prop('disabled', true);
      }else{
        $('#symbolSwitch #access-switch input[name=privilege-level]').prop('disabled', false);
      }
    })
  </script>