<div id="symbolLine" class="modal fade symbol-property" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Line Properties</h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#appearance-line">Appearance</a></li>
                <li><a data-toggle="tab" href="#movement-line">Movement</a></li>
                <li><a data-toggle="tab" href="#animation-line">Animation</a></li>
                <li><a data-toggle="tab" href="#access-line">Access</a></li>
              </ul>
              
              <div class="tab-content">
                <div id="appearance-line" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Position</legend>
                        <code>X1:</code><input type="number" name="pos-x1" value="1" min="0"><br>
                        <code>Y1:</code><input type="number" name="pos-y1" value="1" min="0"><br>
                        <code>X2:</code><input type="number" name="pos-x2" value="1" min="0"><br>
                        <code>Y2:</code><input type="number" name="pos-y2" value="1" min="0"><br>
                      </fieldset>
                    </div>
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Rotation</legend>
                        <code>Degree:</code><input type="number" name="degree" value="0" min="-180" max="180">
                      </fieldset>
                      <fieldset>
                        <legend>Order</legend>
                        <code>Z-index:</code><input type="number" name="z-index" value="1" min="1" max="10">
                      </fieldset>
                    </div>
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Line property</legend>
                        <code>Width:</code><input type="number" name="line-width" value="1" min="0"><br>
                        <code>Style:</code>
                        <select class="line-style" name="line-style">
                          <option value="solid">Solid</option>
                          <option value="dash">Dash</option>
                          <option value="dot">Dot</option>
                        </select><br>
                        <code>Color:</code><input type="text" name="line-color" id="line-picker-type" value='#276cb8' class="color-picker"/>
                        <code>Cap:&nbsp;&nbsp;</code>
                        <select class="line-style" name="line-cap">
                          <option value="butt">Butt</option>
                          <option value="round">Round</option>
                          <option value="square">Square</option>
                        </select>
                      </fieldset>
                    </div> 
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <legend>Draggable</legend>
                        <input type="checkbox" name="has-draggable-design" class="checkbox-custom" checked><span class="checkbox-custom">Draggable when Design</span><br>
                        <input type="checkbox" name="has-draggable-run" class="checkbox-custom"><span class="checkbox-custom">Draggable when Run</span><br>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="movement-line" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Movement expression</legend>
                          <textarea name="move-exp" style="width: 456px;"></textarea>
                          <button style="float: right;" class="browse-tag">Browse</button>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label style="padding: 15px; font-weight: bold;">Range:</label>
                      <code>min: </code><input type="number" name="move-min" value="0">
                      <code style="margin-left: 40px;">max: </code><input type="number" name="move-max" value="100">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <fieldset>
                        <legend>Offset horizontal</legend>
                        <code>Offset X: </code><input type="number" name="offset-x" value="0">
                      </fieldset>
                    </div>
                    <div class="col-sm-6">
                      <fieldset>
                        <legend>Offset vertical</legend>
                        <code>Offset Y: </code><input type="number" name="offset-y" value="0">
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="animation-line" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>ON color when</legend>
                          <textarea name="oncolor-exp" style="width: 452px;"></textarea>
                          <button style="float: right;" class="browse-tag">Browse</button>
                          <br>
                          <code>ON color:</code><input type="text"  name="on-color" id="line-picker-on" value='#276cb8' class="color-picker"/>&nbsp;&nbsp;
                          <code>OFF color:</code><input type="text" name="off-color" id="line-picker-off" value='#543345' class="color-picker"/></button>
                      </fieldset>
                    </div>
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Hidden when</legend>
                          <textarea name="hidden-exp" style="width: 452px;"></textarea>
                          <button style="float: right;" class="browse-tag">Browse</button>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Flash when</legend>
                        <textarea name="flash-exp" style="width: 452px;"></textarea>
                        <button style="float: right;" class="browse-tag">Browse</button>
                        <br>
                        <code>Flash ON color:</code><input type="text" name="flash-on" id="line-picker-flash" value='#543345' class="color-picker"/>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="access-line" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Description</legend>
                          <textarea name="description" style="width: 536px;"></textarea>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Tooltip</legend>
                          <textarea name="tooltip" style="width: 536px;"></textarea>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Security</legend>
                          <input type="checkbox" name="has-privilege" class="checkbox-custom" checked><span class="checkbox-custom">No privilege restrictions</span><br>
                          <code>Privilege level: </code><input type="number" name="privilege-level" min="0" max="8" disabled>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <input type="text" name="target-id" value="" style="display: none;">
          <button type="button" name="save" class="btn btn-success btn-sm">&nbsp;Apply&nbsp;</button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
        </div>
      </div>
  
    </div>
  </div>

  <script>
    $("#symbolLine").draggable({
      handle: ".modal-header"
    }); 

    // Set event for has-privilege restrictions
    $('#symbolLine #access-line input[name=has-privilege]').click(e => {
      if (e.target.checked){
        $('#symbolLine #access-line input[name=privilege-level]').prop('disabled', true);
        $('#symbolLine #access-line input[name=privilege-level]').val(null);
      }else{
        $('#symbolLine #access-line input[name=privilege-level]').prop('disabled', false);
      }
    })

  // init color picker to input tags
  initColorPicker(['line-picker-type', 'line-picker-on', 'line-picker-off', 'line-picker-flash'])
  </script>