<div id="symbolDisplayValue" class="modal fade symbol-property" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Display Value Properties</h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#appearance-display-value">Appearance</a></li>
                <li><a data-toggle="tab" href="#movement-display-value">Movement</a></li>
                <li><a data-toggle="tab" href="#animation-display-value">Animation</a></li>
                <li><a data-toggle="tab" href="#access-display-value">Access</a></li>
              </ul>
              
              <div class="tab-content">
                <div id="appearance-display-value" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-sm-3">
                      <fieldset>
                        <legend>Position</legend>
                        <code>X:</code><input type="number" class="mini" name="pos-x" value="1" min="0"><br>
                        <code>Y:</code><input type="number" class="mini" name="pos-y" value="1" min="0"><br>
                      </fieldset>
                    </div>
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Rotation</legend>
                        <code>Degree:</code><input type="number" name="degree" value="0" min="-360" max="360">
                      </fieldset>
                      <fieldset>
                        <legend>Order</legend>
                        <code>Z-index:</code><input type="number" name="z-index" value="1" min="1" max="10">
                      </fieldset>    
                    </div>
                    <div class="col-sm-5">
                      <fieldset>
                        <legend>Font property</legend>
                        <code>Font size:&nbsp;&nbsp;</code><input type="number" name="font-size" value="0" min="0"><br>
                        <code>Font weight:</code>
                        <select class="line-style" name="font-weight">
                            <option value="normal" selected>Normal</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                            <option value="900">900</option>
                            <option value="bold">Bold</option>
                          </select><br>
                        <code>Font:&nbsp;</code>
                        <select class="line-style md" name="font-family">
                            <option value="inherit" selected>Normal</option>
                            <option value="'Times New Roman', Times, serif">Times New Roman</option>
                            <option value="Arial, Helvetica, sans-serif">Arial</option>
                            <option value="'Courier New', Courier, monospace">Courier New</option>
                            <option value="Cambria, 'Times New Roman', Times, serif">Cambria</option>
                            <option value="'Lucida Console', Monaco, monospace">Lucida Console</option>
                            <option value="Georgia, serif">Georgia</option>
                            <option value="'Palatino Linotype', 'Book Antiqua', Palatino, serif">Palatino Linotype</option>
                            <option value="'Arial Black', Gadget, sans-serif">Arial Black</option>
                            <option value="'Comic Sans MS', cursive, sans-serif">Comic Sans MS</option>
                            <option value="Impact, Charcoal, sans-serif">Impact</option>
                            <option value="'Lucida Sans Unicode', 'Lucida Grande', sans-serif">Lucida Sans Unicode</option>
                            <option value="Tahoma, Geneva, sans-serif">Tahoma</option>
                            <option value="'Trebuchet MS', Helvetica, sans-serif">Trebuchet MS</option>
                            <option value="Verdana, Geneva, sans-serif">Verdana</option>
                          </select><br>
                        <code>Style:</code>
                        <select class="line-style md" name="font-style">
                            <option value="normal" selected>Normal</option>
                            <option value="italic">Italic</option>
                            <option value="oblique">Oblique</option>
                          </select><br>
                        <code>Color:</code><input type="text" name="font-color" id="display-picker-font" value='#276cb8' class="color-picker"/><br>               
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <legend>Draggable</legend>
                        <input type="checkbox" name="has-draggable-design" class="checkbox-custom" checked><span class="checkbox-custom">Draggable when Design</span><br>
                        <input type="checkbox" name="has-draggable-run" class="checkbox-custom"><span class="checkbox-custom">Draggable when Run</span><br>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <legend>Format</legend>
                        <code>Choose format:</code>
                        <select class="line-style" name="format" style="width: 105px;">
                            <option value=".##" selected>Normal</option>
                            <option value="#">#</option>
                            <option value="##">##</option>
                            <option value="###">###</option>
                            <option value="####">####</option>
                            <option value="#####">#####</option>
                            <option value="#.#">#.#</option>
                            <option value="##.#">##.#</option>
                            <option value="###.#">###.#</option>
                            <option value="####.#">####.#</option>
                            <option value="######.#">#####.#</option>
                            <option value="#.##">#.##</option>
                            <option value="##.##">##.##</option>
                            <option value="###.##">###.##</option>
                            <option value="####.##">####.##</option>
                            <option value="######.##">#####.##</option>
                            <option value="#.###">#.###</option>
                            <option value="#.####">##.####</option>
                            <option value="#.#####">###.#####</option>
                        </select><br>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="movement-display-value" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Movement expression</legend>
                          <textarea name="move-exp" style="width: 456px;"></textarea>
                          <button style="float: right;">Browse</button>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label style="padding: 15px; font-weight: bold;">Range:</label>
                      <code>min: </code><input type="number" name="move-min" value="0">
                      <code style="margin-left: 40px;">max: </code><input type="number" name="move-max" value="100">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <fieldset>
                        <legend>Offset horizontal</legend>
                        <code>Offset X: </code><input type="number" name="offset-x" value="0">
                      </fieldset>
                    </div>
                    <div class="col-sm-6">
                      <fieldset>
                        <legend>Offset vertical</legend>
                        <code>Offset Y: </code><input type="number" name="offset-y" value="0">
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div id="animation-display-value" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Hidden when</legend>
                          <textarea name="hidden-exp" style="width: 452px;"></textarea>
                          <button class="" style="float: right;">Browse</button>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>Numeric expression</legend>
                              <textarea name="numeric-exp" style="width: 452px;"></textarea>
                              <button class="" style="float: right;">Browse</button>
                        </fieldset>
                    </div>
                  </div>
                </div>
                <div id="access-display-value" class="tab-pane fade">
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Description</legend>
                          <textarea name="description" style="width: 536px;"></textarea>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Tooltip</legend>
                          <textarea name="tooltip" style="width: 536px;"></textarea>
                          <br>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <fieldset>
                        <legend>Security</legend>
                          <input type="checkbox" name="has-privilege" class="checkbox-custom" checked><span class="checkbox-custom">No privilege restrictions</span><br>
                          <code>Privilege level: </code><input type="number" name="privilege-level" min="0" max="8" disabled>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <input type="text" name="target-id" value="" style="display: none;">
          <button type="button" name="save" class="btn btn-success btn-sm">&nbsp;Apply&nbsp;</button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
        </div>
      </div>
  
    </div>
  </div>

  <script>
    $("#symbolDisplayValue").draggable({
      handle: ".modal-header"
    }); 

    // Set event for has-privilege restrictions
    $('#symbolDisplayValue #access-display-value input[name=has-privilege]').click(e => {
      if (e.target.checked){
        $('#symbolDisplayValue #access-display-value input[name=privilege-level]').prop('disabled', true);
      }else{
        $('#symbolDisplayValue #access-display-value input[name=privilege-level]').prop('disabled', false);
      }
    })

    initColorPicker('display-picker-font');
  </script>