<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            <b>Copyright</b>&nbsp;&copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            | Licensed by <a href="https://www.facebook.com/manut.vo"><i style="color: darkmagenta;">Võ Đức Mẫn</i></a>
            . All rights reserved
            | Version 1.0
        </p>
    </div>
</footer>