<div class="sidebar" style="background-color: #282d30; width: 200px; margin-top: 60px; position: fixed; z-index: 100; overflow-y: scroll;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pd-mg-0" style="height: 40px; background-color: gray;">
                <p style="text-align: center; line-height: 40px; font-size: large; color: white; font-weight: bold;">
                    Toolbox
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapseOne">
                            Basic
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Line">
                            <img src="/static/images/toolboxIcon/line.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Polyline">
                            <img src="/static/images/toolboxIcon/polyline.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Ellipse">
                            <img src="/static/images/toolboxIcon/ellipse.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Circle">
                            <img src="/static/images/toolboxIcon/circle.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Rectangle">
                            <img src="/static/images/toolboxIcon/rectangle.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Polygone">
                            <img src="/static/images/toolboxIcon/polygon.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Text Block">
                            <img src="/static/images/toolboxIcon/textblock.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Graph View">
                            <img src="/static/images/toolboxIcon/graph-view.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Table">
                            <img src="/static/images/toolboxIcon/table.png">
                        </button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-2">
                            Elements
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-2" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Display Value">
                            <img src="/static/images/toolboxIcon/display-value.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Button">
                            <img src="/static/images/toolboxIcon/button.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Switch">
                            <img src="/static/images/toolboxIcon/toggle.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Input">
                            <img src="/static/images/toolboxIcon/input.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Slider">
                            <img src="/static/images/toolboxIcon/slider.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Progress Bar">
                            <img src="/static/images/toolboxIcon/process-bar.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Check Box">
                            <img src="/static/images/toolboxIcon/checkbox.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Symbol Set">
                            <img src="/static/images/toolboxIcon/symbol.png">
                        </button>
                       
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-3">
                            </span>
                            Graph
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-3" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Line Chart">
                            <img src="/static/images/toolboxIcon/line-chart.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Bar Chart">
                            <img src="/static/images/toolboxIcon/bar-chart.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Pie Chart">
                            <img src="/static/images/toolboxIcon/pie-chart.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Gauge Chart">
                            <img src="/static/images/toolboxIcon/gauge.png">
                        </button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-4">
                            </span>
                            Advanced
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-4" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Line">
                            <img src="/static/images/toolboxIcon/line.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Polyline">
                            <img src="/static/images/toolboxIcon/polyline.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Ellipse">
                            <img src="/static/images/toolboxIcon/ellipse.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Circle">
                            <img src="/static/images/toolboxIcon/circle.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Rectangle">
                            <img src="/static/images/toolboxIcon/rectangle.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Polygone">
                            <img src="/static/images/toolboxIcon/polygon.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Text Block">
                            <img src="/static/images/toolboxIcon/textblock.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Graph View">
                            <img src="/static/images/toolboxIcon/graph-view.png">
                        </button>
                        <button class="btn btn-default btn-symbol" rel="tooltip" title="Table">
                            <img src="/static/images/toolboxIcon/table.png">
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>