<div class="sidebar" data-active-color="orange" data-background-color="black" data-image="/static/assets/img/sidebar-6.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <a href="/" class="simple-text">
           ADVANCED SCADA
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="/" class="simple-text">
            AS
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <% if (typeof user.avatarLink == "string") { %>
                    <img src="<%= user.avatarLink %>" />
                <% }else{ %>
                    <img src="/static/images/default-avatar.png" />
                <% }      %>
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseUser" class="collapsed">
                    <%= user.username %>
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseUser"> 
                    <ul class="nav">
                        <li class="pull-left" style="margin-left: 45px;">
                            <a href="/?lang=vn">
                                <img class="flag" src="/static/assets/img/flags/VN.png" >&nbsp;&nbsp;
                                Vietnamese
                            </a>
                        </li>
                        <li class="pull-left" style="margin-left: 45px;">
                            <!-- style="max-width: 170px; margin-left: 40px; text-align: left !important;" -->
                            <a href="?lang=en">
                                <img class="flag" src="/static/assets/img/flags/US.png">&nbsp;&nbsp;
                                English
                            </a>
                           
                        </li>                   
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="dashboard" >
                <a href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="profile">
                <a href="/profile">
                    <i class="material-icons">perm_identity</i>
                    <p>Profile</p>
                </a>
            </li>
            <li class="gateway">
                <a href="/gateway">
                    <i class="material-icons">router</i>
                    <p>Gateway</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#manager" class="collapsed">
                    <i class="material-icons">list_alt</i>
                    <p>Manager
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="manager">
                    <ul class="nav">
                        <li class="gateways">
                            <a href="/gateway/list/gateways">
                                <i class="material-icons">router</i>
                                <p>Gateways</p>
                            </a>
                        </li>
                        <li class="plcs">
                            <a href="/gateway/list/plcs">
                                <i class="material-icons">kitchen</i>
                                <p>PLCs</p>
                            </a>
                        </li>
                        <li class="tags">
                            <a href="/gateway/list/tags">
                                <i class="material-icons">style</i>
                                <p>Tags</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="design">
                <a href="/design">
                    <i class="material-icons">category</i>
                    <p>Design</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#history" class="collapsed">
                    <i class="material-icons">history</i>
                    <p>History
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="history">
                    <ul class="nav">
                        <li class="alarm">
                            <a href="./alarm">
                                <i class="material-icons">warning</i>
                                <p>Alarm</p>
                            </a>
                        </li>
                        <li class="trend">
                            <a href="./trend">
                                <i class="material-icons">trending_up</i>
                                <p>Trend</p>
                            </a>
                        </li>
                        <li class="log">
                            <a href="./log">
                                <i class="material-icons">note</i>
                                <p>Log</p>
                            </a>
                        </li>
                        <li class="notify">
                            <a href="./notify">
                                <i class="material-icons">notifications_active</i>
                                <p>Notify</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="stream">
                <a href="/stream">
                    <i class="material-icons">ondemand_video</i>
                    <p>Camera</p>
                </a>
            </li>
            
            <li class="report">
                <a href="/report">
                    <i class="material-icons">chat</i>
                    <p>Report</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#help" class="collapsed">
                    <i class="material-icons">live_help</i>
                    <p>Help
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="help">
                    <ul class="nav">
                        <li class="aboutus">
                            <a href="/aboutus">
                                <i class="material-icons">person_pin</i>
                                <p>About Us</p>
                            </a>
                        </li>
                        <li class="contact">
                            <a href="contact">
                                <i class="material-icons">perm_phone_msg</i>
                                <p>Contact Us</p>
                            </a>
                        </li>
                        <li class="userguide">
                            <a href="userguide">
                                <i class="material-icons">import_contacts</i>
                                <p>User Guide</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>