<div class="sidebar" style="background-color: #282d30; width: 200px; margin-top: 60px; position: fixed; z-index: 100; overflow-y: scroll;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pd-mg-0" style="height: 40px; background-color: gray;">
                <p style="text-align: center; line-height: 40px; font-size: large; color: white; font-weight: bold;">
                    Toolbox
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-1">
                            Basic
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-1" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button id="symbol-line" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Line">
                            <img src="/static/images/toolboxIcon/line.png">
                        </button>
                        <button id="symbol-polyline" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Polyline">
                            <img src="/static/images/toolboxIcon/polyline.png">
                        </button>
                        <button id="symbol-ellipse" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Ellipse">
                            <img src="/static/images/toolboxIcon/ellipse.png">
                        </button>
                        <button id="symbol-circle" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Circle">
                            <img src="/static/images/toolboxIcon/circle.png">
                        </button>
                        <button id="symbol-rectangle" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Rectangle">
                            <img src="/static/images/toolboxIcon/rectangle.png">
                        </button>
                        <button id="symbol-polygone" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Polygone">
                            <img src="/static/images/toolboxIcon/polygon.png">
                        </button>
                        <button id="symbol-textblock" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Text Block">
                            <img src="/static/images/toolboxIcon/textblock.png">
                        </button>
                        <button id="symbol-pencil" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Pencil">
                            <img src="/static/images/toolboxIcon/pencil.png">
                        </button>
                        <button id="symbol-graph-view" class="btn btn-default btn-symbol btn-basic" rel="tooltip" title="Graph View">
                            <img src="/static/images/toolboxIcon/graph-view.png">
                        </button>
                        
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-2">
                            Elements
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-2" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button id="symbol-display-value" class="btn btn-default btn-symbol" rel="tooltip" title="Display Value">
                            <img src="/static/images/toolboxIcon/display-value.png">
                        </button>
                        <button id="symbol-button" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Button">
                            <img src="/static/images/toolboxIcon/button.png">
                        </button>
                        <button id="symbol-toggle" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Switch">
                            <img src="/static/images/toolboxIcon/toggle.png">
                        </button>
                        <button id="symbol-input" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Input">
                            <img src="/static/images/toolboxIcon/input.png">
                        </button>
                        <button id="symbol-slider" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Slider">
                            <img src="/static/images/toolboxIcon/slider.png">
                        </button>
                        <button id="symbol-process-bar" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Progress Bar">
                            <img src="/static/images/toolboxIcon/process-bar.png">
                        </button>
                        <button id="symbol-checkbox" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Check Box">
                            <img src="/static/images/toolboxIcon/checkbox.png">
                        </button>
                        <button id="symbol-symbol" class="btn btn-default btn-symbol btn-element" rel="tooltip" title="Symbol Set">
                            <img src="/static/images/toolboxIcon/symbol.png">
                        </button>
                       
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-3">
                            </span>
                            Graph
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-3" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button id="symbol-line-chart" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Line Chart">
                            <img src="/static/images/toolboxIcon/line-chart.png">
                        </button>
                        <button id="symbol-bar-chart" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Bar Chart">
                            <img src="/static/images/toolboxIcon/bar-chart.png">
                        </button>
                        <button id="symbol-pie-chart" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Pie Chart">
                            <img src="/static/images/toolboxIcon/pie-chart.png">
                        </button>
                        <button id="symbol-donut-chart" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Donut Chart">
                            <img src="/static/images/toolboxIcon/donut-chart.png">
                        </button>
                        <button id="symbol-radial-gauge" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Radial Gauge">
                            <img src="/static/images/toolboxIcon/radial-gauge.png">
                        </button>
                        <button id="symbol-speedometer" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Speedometer">
                            <img src="/static/images/toolboxIcon/speedometer.png">
                        </button>
                        <button id="symbol-linear-gauge" class="btn btn-default btn-symbol btn-graph" rel="tooltip" title="Linear Gauge">
                            <img src="/static/images/toolboxIcon/linear-gauge.png">
                        </button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pd-mg-0">
                <div class="card pd-mg-0">
                    <div class="card-header bg-gray">
                        <a class="card-link text-header" data-toggle="collapse" href="#collapse-4">
                            </span>
                            Advanced
                            <b class="caret"></b>
                        </a>
                    </div>
                    <div id="collapse-4" class="card-body collapse" style="margin-inline-start: 20px;">
                        <button id="symbol-table" class="btn btn-default btn-symbol btn-advance" rel="tooltip" title="Table">
                            <img src="/static/images/toolboxIcon/table.png">
                        </button>
                        <button id="symbol-clock" class="btn btn-default btn-symbol btn-advance" rel="tooltip" title="Clock">
                            <img src="/static/images/toolboxIcon/clock.png">
                        </button>
                        <button id="symbol-digital-clock" class="btn btn-default btn-symbol btn-advance" rel="tooltip" title="Digital Clock">
                            <img src="/static/images/toolboxIcon/digital-clock.png">
                        </button>
                        <button id="symbol-calendar" class="btn btn-default btn-symbol btn-advance" rel="tooltip" title="Calendar">
                            <img src="/static/images/toolboxIcon/calendar.png">
                        </button>
                        <button id="symbol-camera" class="btn btn-default btn-symbol btn-advance" rel="tooltip" title="Camera">
                            <img src="/static/images/toolboxIcon/camera.png">
                        </button>

                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>