<!doctype html>
<html lang="en">

<head>
    <% include metadata %>
    <link rel="stylesheet" href="/static/css/design-drawing.css">
    <link rel="stylesheet" href="/static/css/drawing-modal.css">
</head>
<body>
    <div class="wrapper" id="main-view" style="background-color: #343435;">
        <% include sidebar-drawing %>
        <div class="main-painel" style="overflow:visible; position: absolute;">
            <% include header-drawing %>
            
            <div class="content" style="margin-top: 0px; margin-top: 60px; position: absolute; left: 200px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 pd-mg-0" style="width: <%= resolution.width %>px;">
                            <ul class="nav nav-tabs" id="tab-management" style="background-color: #343435;">
                                <!-- <li class="active"><a data-toggle="tab" href="#page-1"><i class="material-icons">av_timer</i>Page 1</a></li>-->
                                <li><a href="#" id="design-add-page"><i class="material-icons">add_circle_outline</i>New</a></li>
                                
                            </ul>
                            
                            <div class="tab-content" id="whiteboard-management" data-width="<%= resolution.width %>" data-height="<%= resolution.height %>">
                                <!-- <div id="page-1" class="tab-pane fade in active drawing-page">
                                    <div class="col-md-12" style="width: 0px; height: 0px; z-index: 0; background-color: #e4e4e4; position: absolute; padding:0">
                                        
                                    </div>
                                </div> -->
                                <!-- <div id="page-2" class="tab-pane fade">
                                    <div class="col-md-12" 
                                        style="width: 1280px; height: 720px; z-index: 0; background-color: #5d5d5e; position: absolute; ">
                                        <div style="width: 80px; height: 80px; position: absolute; background-color: red; left: 0; top: 10px;">
                                        </div>
                                        <div
                                            style="width: 80px; height: 100px; position: absolute; background-color: yellow; left: 80px; top: 0px;">
                                        </div>
                                    </div>
                                </div> -->
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include scripts-drawing %>
    <% include setupAlign %>
    <% include setupPageInfo %>

    <!-- Basic components -->
    <% include addNewPage %>
    <% include symbolLine %>
    <% include symbolPolyline %>
    <% include symbolEllipse %>
    <% include symbolCircle %>
    <% include symbolRectangle %>
    <% include symbolPolygon %>
    <% include symbolTextblock %>
    <% include symbolPencil %>
    <% include symbolGraphView %>

    <!-- Elements components -->
    <% include symbolDisplayValue %>
    <% include symbolButton %>
    <% include symbolSwitch %>
    <% include symbolInput %>
    <% include symbolHorizontalSlider %>
    <% include symbolVerticalSlider %>
    <% include symbolProgressBar %>
    <% include symbolCheckbox %>
     <!-- include symbolSet  -->

    <!-- Graph components -->
    <% include symbolLineChart %>
    <% include symbolBarChart %>
    <% include symbolPieChart %>
    <% include symbolDonutChart %>
    <% include symbolRadialGauge %>
    <% include symbolSpeedometer %>
    <% include symbolLinearGauge %>

    <!-- Advanced components -->
    <% include symbolRadialClock %>
    <% include symbolDigitalClock %>
    <% include symbolCamera %>
</body>

<script type="text/javascript" src="/static/javascripts/drawing.bundle.js"></script>
<script type="text/javascript">
    (function(){
       $(document.body).tooltip({ selector: "[data-toggle=tooltip]" });
       //$('#symbolRectangle').modal('show');
    })()
</script>
</html>