<!doctype html>
<html lang="en">

<head>
    <% include metadata %>
</head>

<body>
    <div class="wrapper" id="main-view">
        <% include sidebar %>
        <div class="main-panel">
            <% include header %>
            <div class="content" style="padding-bottom: 0;">
                <div class="col-md-3 col-md-offset-9 text-right" style="margin-bottom: -2%">
                    <button type="button" rel="tooltip" class="btn btn-info btn-round" data-original-title=""
                        title="Create New" onclick="addPopupCreateNew()">
                        <i class="material-icons">note_add</i>
                        Create New
                    </button>
                    <!-- <button type="button" rel="tooltip" class="btn btn-danger" data-original-title=""
                        title="Save Gateway" onclick="putGatewaytoDatabase()">
                        <i class="material-icons">save</i>
                        Save
                    </button> -->
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="card card-plain">
                                <div class="card-content" >
                                    <div id="gateway-map" class="map map-big"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-3 col-md-offset-9 text-right" style="margin-bottom: -2%">
                            <button type="button" rel="tooltip" class="btn btn-success btn-round" data-original-title=""
                                title="Create New" onclick="addPopupCreateNew()">
                                <i class="material-icons">note_add</i>
                                Create New
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger" data-original-title=""
                                title="Save Gateway" onclick="putGatewaytoDatabase()">
                                <i class="material-icons">save</i>
                                Save
                            </button> 
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="background-color: #f3f9f7;">                               
                                <div class="card-content">
                                    <div class="table-responsive">
                                        <table class="table" style="font-size: small;">
                                            <thead style="background-color: #3fb0ac; font-weight: 900!important;">
                                                <tr>
                                                    <th class="text-center">ID</th>
                                                    <th>Name</th>
                                                    <th>Created Time</th>
                                                    <th>Last Modified</th>
                                                    <th class="text-center">PLCs</th>
                                                    <th class="text-center">Tags</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">Action</th>
    
                                                </tr>
                                            </thead>
                                            <tbody id="render-row">
                                                           
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <ul class="pagination pagination-info" id="pagination-gateway">
                                                    <p>Showing 1 to * of * entries</p>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-md-offset-6 text-right">
                                                <ul class="pagination pagination-info">
                                                    <li>
                                                        <a href="javascript:void(0);" id="first-gateway"><<</a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="javascript:void(0);" id="back-gateway">1</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="javascript:void(0);" id="current-gateway">2</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="javascript:void(0);" id="next-gateway">3</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" id="last-gateway">>></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
            <% include footer %>
        </div>
    </div>
  


</body>
<% include scripts %>
<script type="text/javascript">
  
</script>

<script type="text/javascript" src="/static/javascripts/gateway.bundle.js"></script>

</html>