<!doctype html>
<html lang="en">

<head>
    <% include metadata %>
</head>

<body>
    <div class="wrapper" id="main-view">
        <% include sidebar %>
        <div class="main-panel">
            <% include header %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="card card-plain">
                                <div class="card-content" style="border:  5px solid rgb(216, 213, 209)!important" >
                                    <div id="worldMap" class="map map-big"></div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-offset-8">
                            <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="Add Gateway">
                                <i class="material-icons">add</i>
                                Add Factory
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="Delete Gateway">
                                <i class="material-icons">close</i>
                                Delete Factory
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="table-bordered table text-primary">
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Name</th>
                                            <th>Create Time</th>
                                            <th>Last Modify</th>
                                            <th class="text-center">Num of Tag</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">01</td>
                                            <td>Sabeco</td>
                                            <td>25/15/2512 8:55</td>
                                            <td>25/15/2512 8:55</td>
                                            <td class="text-center">25</td>
                                            <td class="text-center"><i class="material-icons">panorama_fish_eye</i></td>
                                            <td class="td-actions text-center">
                                                <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="Gateway Info" title="">
                                                    <i class="material-icons">info</i>
                                                </button>
                                                <button type="button" rel="tooltip" class="btn btn-success" data-original-title="Edit Gateway" title="">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="Delete Gateway" title="">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>         
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <% include footer %>
        </div>
    </div>
</body>
<% include scripts %>
<script type="text/javascript">
    $(document).ready(function() {
        // demo.initDashboardPageCharts();
        demo.initVectorMap();
    });
</script>

</html>
