<!doctype html>
<html lang="en">

<head>
    <% include metadata %>
</head>

<body>
    <div class="wrapper" id="main-view">
        <% include sidebar %>
        <div class="main-panel">
            <% include header %>
            <div class="content" style="padding-bottom: 0;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="card card-plain">
                                <div class="card-content" >
                                    <div id="worldMap" class="map map-big"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9 text-right" style="margin-bottom: -2%">
                            <button type="button" rel="tooltip" class="btn btn-success" data-original-title=""
                                title="Create New" onclick="addPopupCreateNew()">
                                <i class="material-icons">add</i>
                                Add
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger" data-original-title=""
                                title="Save Gateway" onclick="putGatewaytoDatabase()">
                                <i class="material-icons">save</i>
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="background-color: #f3f9f7;">                               
                                <div class="card-content">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead style="background-color: #3fb0ac; font-weight: 900!important;">
                                                <tr>
                                                    <th class="text-center">ID</th>
                                                    <th>Name</th>
                                                    <th>Created Time</th>
                                                    <th>Last Modified</th>
                                                    <th class="text-center">PLCs</th>
                                                    <th class="text-center">Tags</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">Action</th>
    
                                                </tr>
                                            </thead>
                                            <tbody id="render-row">
                                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
            <% include footer %>
        </div>
    </div>
  


</body>
<% include scripts %>
<script type="text/javascript">
    $(document).ready(function () {
        // demo.initDashboardPageCharts();
        demo.initVectorMap();
    });
</script>
<script type="text/javascript" src="/static/javascripts/ipaddr.min.js"></script>
<script type="text/javascript" src="/static/javascripts/gateway.js"></script>
<script type="text/javascript" src="/static/javascripts/gateway_edit_gateway.js"></script>

</html>