
<!doctype html>
<html lang="en">

<head>
    <% include metadata %>
</head>

<body>
    <div class="wrapper" id="main-view">
        <% include sidebar %>
        <div class="main-panel" id="main-panel">
            <% include header %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-content">
                                    <h3 class="card-title text-center"><b><Table>HƯỚNG DẪN SỬ DỤNG PHẦN MỀM</Table></b></h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <% include thesisReport %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
            </div>
            <% include footer %>
        </div>
    </div>
</body>
<% include scripts %>
</html>
