<div class="modal fade" id="addGateway" tabindex="-1" role="dialog" aria-labelledby="Modal-label">
    <div class="modal-dialog modal-md" role="document" style="font-size: small!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <fieldset class="form-group table-bordered">
                    <legend style="width: auto; margin-left: 30px;">&nbsp;Gateway Informations&nbsp;</legend>
                    <div class="row form-group">
                        <div class="col-xs-6 form-group">
                            <span>ID* </span>
                            <input name="uniqueId" type="text" class="input auto form-control" tabindex="1">
                        </div>
                        <div class="col-xs-6 form-group">
                            <span>Name* </span>
                            <input name="name" type="text" class="input auto form-control" tabindex="2">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 form-group">
                            <span>Adress <i>(Ex: 1600 Pennsylvania Avenue NW)</i></span>
                            <input name="address" type="text" class="input auto form-control" tabindex="3">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-4 form-group">
                            <span>ScanTime* </span>
                            <input name="scan-time" type="number" class="input auto form-control" tabindex="4">
                        </div>
                        <div class="col-xs-4 form-group">
                            <span>Longitude* </span>
                            <input name="longitude" type="number" class="input auto form-control" tabindex="5">
                        </div>
                        <div class="col-xs-4 form-group">
                            <span>Latitude* </span>
                            <input name="latitude" type="number" class="input auto form-control" tabindex="6">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 form-group">
                            <span>Description</span>
                            <textarea name="description" type="text" class="custom form-control" rows="2" tabindex="7"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" id="save-btn" class="btn btn-success btn-sm"
                    onclick="createGateway()">&nbsp;Save&nbsp;</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


